$color-theme: #fbc02d;

$link-color: #ff6a00 !default;
$pagination-color: #ff6a00 !default;
$primary-color: #ff6a00 !default;
$pagination-page-link-color: #ff6a00 !default;

@import "../../../vendor/twbs/bootstrap/scss/variables";
